header {
  text-align: center;
}

nav > a{
  padding-left: 10px;
  padding-right: 10px;
  background: grey;
} 

#featured-property {
  text-align: center;
}

#featured-property > p {
  text-align: center;
  margin: auto;
  width: 750px;
  margin-bottom: 10px;
}

figcaption {
  font-weight: bold;
  font-size: smaller;
}

body {
  width: 100%;
  height: 100%;
  margin: auto;
}

#details div {
  margin-top: 10px;
  float: left;
  background: red;
  width: 25%;
  text-align: center;
}